.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-property: transform,-webkit-transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-property: transform,-webkit-transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-transition-property: height,-webkit-transform;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-wp8-horizontal, .swiper-container-wp8-horizontal > .swiper-wrapper {
  touch-action: pan-y; }

.swiper-container-wp8-vertical, .swiper-container-wp8-vertical > .swiper-wrapper {
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-lock {
  display: none; }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: .2s top,.2s -webkit-transform;
  transition: .2s top,.2s -webkit-transform;
  -webkit-transition: .2s transform,.2s top;
  transition: .2s transform,.2s top;
  -webkit-transition: .2s transform,.2s top,.2s -webkit-transform;
  transition: .2s transform,.2s top,.2s -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: .2s left,.2s -webkit-transform;
  transition: .2s left,.2s -webkit-transform;
  -webkit-transition: .2s transform,.2s left;
  transition: .2s transform,.2s left;
  -webkit-transition: .2s transform,.2s left,.2s -webkit-transform;
  transition: .2s transform,.2s left,.2s -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: .2s right,.2s -webkit-transform;
  transition: .2s right,.2s -webkit-transform;
  -webkit-transition: .2s transform,.2s right;
  transition: .2s transform,.2s right;
  -webkit-transition: .2s transform,.2s right,.2s -webkit-transform;
  transition: .2s transform,.2s right,.2s -webkit-transform; }

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000; }

.swiper-pagination-lock {
  display: none; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-scrollbar-lock {
  display: none; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  -ms-perspective: 1200px; }

.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.lightSlider:after, .lightSlider:before {
  content: " ";
  display: table; }

.lightSlider {
  overflow: hidden;
  margin: 0; }

.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative; }

.lSSlideWrapper > .lightSlider:after {
  clear: both; }

.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform,height;
  -webkit-transition-property: height,-webkit-transform;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important; }

.lSSlideWrapper .lSFade {
  position: relative; }

.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%; }

.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important; }

.lSSlideWrapper .lSFade > .active {
  z-index: 10; }

.lSSlideWrapper.usingCss .lSFade > .active {
  opacity: 1; }

.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center; }

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px; }

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all .5s linear 0s;
  transition: all .5s linear 0s; }

.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #428bca; }

.lSSlideOuter .media {
  opacity: .8; }

.lSSlideOuter .media.active {
  opacity: 1; }

.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius .12s linear 0s .35s linear 0s;
  transition: border-radius .12s linear 0s .35s linear 0s; }

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px; }

.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%; }

.lSSlideOuter .lSPager.lSGallery:after, .lSSlideOuter .lSPager.lSGallery:before {
  content: " ";
  display: table; }

.lSSlideOuter .lSPager.lSGallery:after {
  clear: both; }

.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url(../img/controls.png);
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: .5;
  -webkit-transition: opacity .35s linear 0s;
  transition: opacity .35s linear 0s; }

.lSAction > a:hover {
  opacity: 1; }

.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px; }

.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px; }

.lSAction > a.disabled {
  pointer-events: none; }

.cS-hidden {
  height: 1px;
  opacity: 0;
  overflow: hidden; }

.lSSlideOuter.vertical {
  position: relative; }

.lSSlideOuter.vertical.noPager {
  padding-right: 0 !important; }

.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0; }

.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important; }

.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0; }

.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto; }

.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px; }

.lSSlideOuter.lSrtl {
  direction: rtl; }

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
  padding-left: 0;
  list-style: none outside none; }

.lSSlideOuter.lSrtl .lSPager, .lSSlideOuter.lSrtl .lightSlider {
  padding-right: 0; }

.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider > * {
  float: left; }

.lSSlideOuter.lSrtl .lSGallery li, .lSSlideOuter.lSrtl .lightSlider > * {
  float: right !important; }

@-webkit-keyframes rightEnd {
  0% {
    left: 0; }
  50% {
    left: -15px; }
  100% {
    left: 0; } }

@keyframes rightEnd {
  0% {
    left: 0; }
  50% {
    left: -15px; }
  100% {
    left: 0; } }

@-webkit-keyframes topEnd {
  0% {
    top: 0; }
  50% {
    top: -15px; }
  100% {
    top: 0; } }

@keyframes topEnd {
  0% {
    top: 0; }
  50% {
    top: -15px; }
  100% {
    top: 0; } }

@-webkit-keyframes leftEnd {
  0% {
    left: 0; }
  50% {
    left: 15px; }
  100% {
    left: 0; } }

@keyframes leftEnd {
  0% {
    left: 0; }
  50% {
    left: 15px; }
  100% {
    left: 0; } }

@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0; }
  50% {
    bottom: -15px; }
  100% {
    bottom: 0; } }

@keyframes bottomEnd {
  0% {
    bottom: 0; }
  50% {
    bottom: -15px; }
  100% {
    bottom: 0; } }

.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd .3s;
  animation: rightEnd .3s;
  position: relative; }

.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd .3s;
  animation: leftEnd .3s;
  position: relative; }

.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd .3s;
  animation: topEnd .3s;
  position: relative; }

.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd .3s;
  animation: bottomEnd .3s;
  position: relative; }

.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd .3s;
  animation: leftEnd .3s;
  position: relative; }

.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd .3s;
  animation: rightEnd .3s;
  position: relative; }

.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing; }

@font-face {
  font-family: "Stolzl-Book";
  src: url("../fonts/Stolzl-Book.ttf");
  font-style: normal;
  font-weight: normal; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

ol,
ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

blockquote,
q {
  quotes: "" ""; }

*,
*::after,
*::before {
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer; }

img, svg {
  width: 100%;
  height: auto; }

body::-webkit-scrollbar {
  width: 0; }

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  position: relative; }

.img-wrap {
  line-height: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden; }

.img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

/*# sourceMappingURL=styles.css.map */
.container {
  width: 1140px;
  padding: 10px; }

.line {
  display: inline-block;
  background: #000;
  width: 50px;
  height: 2px;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 30px; }

header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 25px;
  width: 100%;
  position: absolute; }
  header .wrapp__menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    width: 100%;
    margin-top: 40px; }
    header .wrapp__menu .logo {
      width: 20%;
      color: #fff; }
    header .wrapp__menu nav {
      width: 55%; }
      header .wrapp__menu nav ul {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        color: #fff; }

.mp__s0 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%; }
  .mp__s0 .img__wrapp {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100vh; }
    .mp__s0 .img__wrapp img {
      opacity: 0.55;
      height: 100vh; }
  .mp__s0 .header__centr {
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    color: #fff; }
    .mp__s0 .header__centr h2 {
      margin-bottom: 30px;
      font-size: 48px; }
    .mp__s0 .header__centr p {
      margin-bottom: 55px;
      font-size: 20px; }
    .mp__s0 .header__centr button {
      background: 0;
      border: 2px solid #fff;
      width: 190px;
      height: 50px;
      color: #fff; }

.mp__s1 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  text-align: center;
  height: 580px; }
  .mp__s1 .h__services {
    height: 160px; }
    .mp__s1 .h__services h3 {
      margin-top: 100px;
      margin-bottom: 30px; }
    .mp__s1 .h__services .line {
      display: inline-block;
      background: #000;
      width: 50px;
      height: 2px;
      -webkit-box-align: center;
              align-items: center;
      margin-bottom: 30px; }
  .mp__s1 .advantage__block {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .mp__s1 .advantage__block .block__conent {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      text-align: center;
      width: 33%;
      height: 320px;
      margin: 0 10px; }
      .mp__s1 .advantage__block .block__conent .img__wrapp__2 {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        text-align: center;
        border: 2px solid grey;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        margin-bottom: 30px;
        font-size: 48px; }
        .mp__s1 .advantage__block .block__conent .img__wrapp__2 img {
          width: 40px; }
      .mp__s1 .advantage__block .block__conent h3 {
        margin-bottom: 25px; }
    .mp__s1 .advantage__block .bg__color {
      background: #c0301c; }
    .mp__s1 .advantage__block .size__color {
      color: #c0301c; }

.mp__s2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  background: #f8f8f8;
  height: 850px; }
  .mp__s2 .about__header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px; }
    .mp__s2 .about__header h3 {
      margin-bottom: 35px; }
  .mp__s2 .about__body {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 75px; }
    .mp__s2 .about__body .about__content {
      width: 45%;
      margin: 0 15px; }
  .mp__s2 .slider {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 310px; }
    .mp__s2 .slider .joint__wrapp {
      width: 23%; }
      .mp__s2 .slider .joint__wrapp .img__wrapp {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: end;
                align-items: flex-end;
        background: black;
        position: relative;
        height: 250px;
        margin-bottom: 20px; }
        .mp__s2 .slider .joint__wrapp .img__wrapp .bg__img {
          position: absolute;
          height: 100%;
          -webkit-transition: 0.35s;
          transition: 0.35s;
          z-index: 10; }
        .mp__s2 .slider .joint__wrapp .img__wrapp:hover > img {
          opacity: 0.45; }
        .mp__s2 .slider .joint__wrapp .img__wrapp .wrapp__soc {
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
                  justify-content: space-between;
          height: 20px;
          width: 115px;
          margin-bottom: 40px;
          opacity: 0;
          -webkit-transition: 0.75s;
          transition: 0.75s;
          z-index: 20; }
          .mp__s2 .slider .joint__wrapp .img__wrapp .wrapp__soc .bg__wrapp__soc {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;
            text-align: center;
            width: 95%;
            height: 20px;
            position: relative;
            padding: 3px;
            cursor: pointer; }
            .mp__s2 .slider .joint__wrapp .img__wrapp .wrapp__soc .bg__wrapp__soc:hover {
              background: #c0301c; }
            .mp__s2 .slider .joint__wrapp .img__wrapp .wrapp__soc .bg__wrapp__soc img {
              width: auto;
              height: auto; }
        .mp__s2 .slider .joint__wrapp .img__wrapp:hover .wrapp__soc {
          opacity: 1; }
      .mp__s2 .slider .joint__wrapp h3 {
        margin-bottom: 20px; }

.mp__s3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 1380px; }
  .mp__s3 .latest__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-top: 90px; }
    .mp__s3 .latest__header h3 {
      margin-bottom: 30px; }
    .mp__s3 .latest__header ul {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      width: 420px;
      padding: 0 10px; }
      .mp__s3 .latest__header ul a:hover {
        color: #c0301c; }
  .mp__s3 .galery {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    flex-wrap: wrap;
    height: 1025px;
    margin-top: 70px; }
    .mp__s3 .galery .img__wrapp__galery {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      background: #b55351;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      position: relative;
      height: 320px;
      width: 30%;
      color: #fff; }
      .mp__s3 .galery .img__wrapp__galery img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 320px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        -o-object-fit: cover;
           object-fit: cover; }
      .mp__s3 .galery .img__wrapp__galery h3 {
        margin-bottom: 20px; }
      .mp__s3 .galery .img__wrapp__galery p {
        margin-bottom: 25px; }
      .mp__s3 .galery .img__wrapp__galery button {
        border: 0;
        height: 35px;
        width: 100px;
        color: #b55351; }
      .mp__s3 .galery .img__wrapp__galery:hover img {
        opacity: 0.25; }
      .mp__s3 .galery .img__wrapp__galery:hover h3, .mp__s3 .galery .img__wrapp__galery:hover p, .mp__s3 .galery .img__wrapp__galery:hover button {
        z-index: 100; }

.mp__s4 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  height: 370px;
  width: 100%;
  color: #fff;
  margin-bottom: 90px; }
  .mp__s4 .img__wrapp {
    background: #b44621;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
    .mp__s4 .img__wrapp img {
      height: 100%;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -o-object-fit: cover;
         object-fit: cover; }
  .mp__s4 h3 {
    margin-bottom: 50px; }
  .mp__s4 button {
    background: 0;
    border: 2px solid #fff;
    height: 50px;
    width: 175px;
    color: #fff; }
  .mp__s4:hover .img__wrapp {
    z-index: -2; }
  .mp__s4:hover img {
    opacity: 0.4;
    z-index: -1; }

.mp__s5 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 1075px;
  width: 100%; }
  .mp__s5 .header__section {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin-bottom: 70px; }
    .mp__s5 .header__section h3 {
      margin-bottom: 30px; }
  .mp__s5 .body__wrapp {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .mp__s5 .body__wrapp .long__line {
      background: #dddddd;
      height: 2px;
      width: 100%;
      margin-bottom: 40px; }
    .mp__s5 .body__wrapp .sturtup {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      height: 320px;
      width: 100%;
      margin-bottom: 40px; }
      .mp__s5 .body__wrapp .sturtup img {
        width: 40%;
        -o-object-fit: cover;
           object-fit: cover; }
      .mp__s5 .body__wrapp .sturtup .content {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        height: 285px;
        width: 55%; }
        .mp__s5 .body__wrapp .sturtup .content .date {
          display: -webkit-box;
          display: flex;
          margin-bottom: 25px; }
          .mp__s5 .body__wrapp .sturtup .content .date .block {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;
            text-align: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            border: 1px solid #000;
            height: 80px;
            width: 70px;
            margin-right: 30px; }
          .mp__s5 .body__wrapp .sturtup .content .date h3 {
            margin-bottom: 20px; }
        .mp__s5 .body__wrapp .sturtup .content a:hover {
          color: #c43d2a; }
        .mp__s5 .body__wrapp .sturtup .content p {
          margin-bottom: 35px; }

.mp__s6 {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  background: #f8f8f8;
  height: 475px;
  width: 100%; }
  .mp__s6 .wrapp__section {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center; }
    .mp__s6 .wrapp__section .sponsor__list {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
              align-items: center;
      text-align: center;
      height: 70px;
      width: 100%;
      margin-top: 100px;
      margin-bottom: 75px; }
    .mp__s6 .wrapp__section .word {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center;
      width: 100%; }
      .mp__s6 .wrapp__section .word p {
        margin-bottom: 35px; }

.mp__s7 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  width: 100%; }
  .mp__s7 .header__section {
    margin-top: 100px; }
    .mp__s7 .header__section h3 {
      margin-bottom: 25px; }
  .mp__s7 .body__section {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
    height: 100%; }
    .mp__s7 .body__section nav {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      width: 25%; }
      .mp__s7 .body__section nav .nav {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        margin-bottom: 40px;
        width: 100%; }
        .mp__s7 .body__section nav .nav .img__wrapp {
          height: 20px;
          margin-right: 10px; }
        .mp__s7 .body__section nav .nav .contacts {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          width: 255px;
          text-align: left; }
          .mp__s7 .body__section nav .nav .contacts h3 {
            margin-bottom: 15px; }
          .mp__s7 .body__section nav .nav .contacts p {
            margin-bottom: 10px; }
  .mp__s7 img {
    width: 15px;
    height: auto; }
  .mp__s7 .input__wrapp {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 300px;
    width: 65%; }
  .mp__s7 .input {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    height: 110px;
    width: 100%; }
    .mp__s7 .input input {
      height: 45px;
      width: 48%; }
  .mp__s7 textarea {
    height: 105px;
    width: 100%;
    resize: none; }
  .mp__s7 .input__footer {
    display: -webkit-box;
    display: flex;
    text-align: left;
    margin-top: 20px; }
    .mp__s7 .input__footer button {
      background: 0;
      border: 1px solid #000;
      height: 45px;
      width: 170px;
      margin-right: 40px; }
    .mp__s7 .input__footer span {
      color: #c43d2a; }

footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  text-align: center;
  background: #c0301c;
  height: 305px;
  color: #fff; }
  footer .soc__wrapp {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    height: 55px;
    width: 220px;
    margin-bottom: 30px; }
    footer .soc__wrapp .img__wrapp {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      border: 1px solid #fff;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      margin: 0 7.5px; }
      footer .soc__wrapp .img__wrapp a {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center; }
        footer .soc__wrapp .img__wrapp a img {
          height: auto;
          width: auto; }
  footer .wiht__line {
    height: 2px;
    width: 50px;
    background: #fff;
    margin-bottom: 30px; }

@media screen and (max-width: 1199px) {
  .container {
    width: 960px; } }

@media screen and (max-width: 991px) {
  .container {
    width: 760px; }
  .mp__s1 {
    height: 600px; }
  .mp__s2 {
    height: 1250px; }
  .mp__s2 .slider {
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly; }
  .mp__s2 .slider .joint__wrapp {
    width: 35%;
    margin-bottom: 30px; }
  .mp__s3 {
    height: 2050px; }
  .mp__s3 .galery .img__wrapp__galery {
    width: 45%;
    margin-bottom: 30px; }
  .mp__s3 .galery .img__wrapp__galery:last-child {
    margin-left: 27.5%; } }

@media screen and (max-width: 767px) {
  .container {
    width: 540px; }
  .menu {
    display: none; }
  .burger__menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: relative;
    height: 15px;
    width: 30px; }
    .burger__menu span {
      position: absolute;
      background: #fff;
      left: 0;
      top: 7px;
      width: 100%;
      height: 2px; }
  .burger__menu:before {
    content: '';
    background: #fff;
    height: 2px;
    width: 100%;
    left: 0;
    top: 0; }
  .burger__menu:after {
    content: '';
    position: absolute;
    background: #fff;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0; }
  .mp__s1 {
    height: 1200px; }
  .mp__s1 .advantage__block {
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    height: 100%; }
  .mp__s1 .advantage__block .block__conent {
    width: 100%; }
  .mp__s2 {
    height: 2050px; }
  .mp__s2 .slider {
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: nowrap;
    height: 1500px; }
  .mp__s2 .slider .joint__wrapp {
    width: 50%; }
  .mp__s3 {
    height: 3500px; }
  .mp__s3 .galery {
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: nowrap;
    height: 100%; }
  .mp__s3 .galery .img__wrapp__galery {
    width: 65%; }
  .mp__s3 .galery .img__wrapp__galery:last-child {
    margin-left: 0px; }
  .mp__s5 {
    height: 1500px; }
  .mp__s5 .body__wrapp .sturtup {
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    height: 600px; }
  .mp__s5 .body__wrapp .sturtup img {
    width: 75%;
    margin-bottom: 20px; }
  .mp__s5 .body__wrapp .sturtup .content {
    width: 75%; }
  .mp__s6 .wrapp__section .sponsor__list {
    width: 75%;
    flex-wrap: wrap; } }

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    margin: 0 15px; }
  .mp__s2 {
    height: 2100px; } }

@media screen and (max-width: 490px) {
  .container {
    width: 375px; }
  .mp__s2 {
    height: 2270px; }
  .mp__s2 .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center; }
  .mp__s2 .about__body .about__content {
    text-align: center;
    width: 85%;
    margin-bottom: 25px; }
  .mp__s2 .slider .joint__wrapp {
    width: 65%; }
  .mp__s3 .latest__header ul {
    width: 100%; }
  .mp__s3 .latest__header ul li {
    margin-right: 10px; }
  .mp__s3 .galery .img__wrapp__galery {
    width: 75%; }
  .mp__s5 .body__wrapp .sturtup {
    width: 100%; }
  .mp__s5 .body__wrapp .sturtup .content .date {
    margin-bottom: 0; }
  .mp__s5 .body__wrapp .sturtup .content .date .block {
    width: 35%; }
  .mp__s6 .wrapp__section .sponsor__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: nowrap;
    height: 275px;
    margin-top: 25px;
    margin-bottom: 25px; }
  .mp__s6 .wrapp__section .sponsor__list a {
    margin-bottom: 15px; }
  .mp__s7 .header__section {
    margin-top: 20px; }
  .mp__s7 .body__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .mp__s7 .body__section nav {
    width: 100%; }
  .mp__s7 .body__section nav .nav {
    -webkit-box-pack: start;
            justify-content: flex-start; }
  .mp__s7 .input__wrapp {
    height: 475px;
    width: 100%; }
  .mp__s7 .input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .mp__s7 .input input {
    width: 100%; }
  .mp__s7 .input__footer {
    margin-top: 0; } }

@media screen and (max-width: 375px) {
  .container {
    width: 315px; }
  .mp__s2 .about__header {
    margin-top: 25px; }
  .mp__s2 .slider .joint__wrapp {
    width: 100%; }
  .mp__s3 .latest__header ul li {
    margin-right: 7px; }
  .mp__s3 .galery .img__wrapp__galery {
    width: 100%; }
  .mp__s5 {
    height: 1550px; }
  .mp__s5 .body__wrapp .sturtup {
    height: 630px; }
  .mp__s5 .body__wrapp .sturtup img {
    width: 100%; }
  .mp__s5 .body__wrapp .sturtup .content {
    width: 100%; } }
